<%inherit file="base.html" />

<%namespace name='static' file='static_content.html'/>
    
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from contentstore.context_processors import doc_url
%>



<%block name="content">
    % if context_course:
      <%
            course_key = context_course.id
      %>

<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
      <h1 class="page-header">
        <small class="subtitle">${_("Xblock Manager")}</small>
        <span class="sr">&gt; </span>${_("Xblock Install Manager")}
      </h1>
    </header>
  </div>

  <div class="wrapper-content wrapper">
    <section class="content"> 
    <article class="content-primary" role="main">
      <div class="introduction">
      
      <p>
${retval}

${namefolder}
</p>
</div>
</article>
</section>
</div>
% endif
</%block>
